RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^([^/]+)-([0-9]+)$ /index.php?page=$1&p=$2 [L,QSA]
#RewriteRule ^([^/]+)-([0-9]+)([^/]+)$ /index.php?page=$1&p=$2&del [L,QSA]
RewriteRule ^(.+)$ index.php?url=$1 [QSA]